.box {
  text-align: center;
  padding: 10px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 120px;
  padding: 10px;
  text-align: center;
  border: 1px solid black;
  margin: 10px;
}