*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App{
    max-width: 1200px;
    width: 100%;
    margin: auto;
    padding: 20px;
}

.App > nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav > a{
    color: #000;
    text-decoration: none;
}

nav a.active{
    background-color: blue;
    color: #FFF;
}
